/* ทำให้ footer อยู่ด้านล่างสุดของหน้าเว็บ */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: #343a40;
    /* สีพื้นหลังของ footer */
    color: white;
    /* สีข้อความของ footer */
    padding: 20px 0;
    /* ระยะห่างภายใน footer */
    text-align: center;
    /* จัดข้อความให้อยู่กลาง */
}