{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            {% if song.image_url %}
            <img src="{{ song.image_url }}" alt="{{ song.title }}" class="img-fluid">
            {% else %}
            <div class="placeholder-image"></div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ song.title }}</h1>
            <p class="lead">{{ song.artist }}</p>
            <p><strong>Genre:</strong> {{ song.genre }}</p>
        </div>
    </div>
</div>
{% endblock %}